<nav>
    <ul>
        <li class="list"><a class="linkb" href="../">Home</a></li>
        <li class="list"><a class="linkb" href="../signup">Sign up </a></li>
        <li class="list"><a class="linkb" href="../profile">Profile Page</a></li>
        <li class="list"><a class="linkb" href="../login">Log in </a></li>
    </ul>
</nav>