<h1>Log in page</h1>

<form action="login.hbs" method="POST">
    <div className="wrap-input">
        <input id="email" className="input" type="email" name="email" placeholder="Eg. example@email.com"/>
                <span className="focus-input"></span>
    </div>
    <div className="wrap-input">
        <input id="password" className="input" name="password" placeholder="Password"/>
            <span className="focus-input"></span>
    </div>
    <div className="container-button">
        <button className="buttons">
            <span>Submit<i className="arrow-button"></i>
            </span>
        </button>
     </div>
</form>