<h1>Log in page</h1>

<form action="/login" method="POST">
    <div className="wrap-input">
        <input id="userName" className="userName" type="userName" name="userName" placeholder=" eg. username123"/>
                <span className="focus-input"></span>
    </div>
    <div className="wrap-input">
        <input id="password" className="input" name="password" placeholder="Password"/>
            <span className="focus-input"></span>
    </div>
    <div className="container-button">
        <button className="buttons">
            <span>Submit<i className="arrow-button"></i>
            </span>
        </button>
     </div>
</form>

<p>{{err}}</p>